.modal__container {
  background: #fff;
  width: 50%;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px;

  .modal__title {
    font-weight: bold;
    text-align: center;
  }

  .modal__content {
    max-height: 60vh;
    overflow: auto;
    margin-bottom: 2rem;
  }

  .modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
